*, *:after, *:before {
    margin: 0;
    box-sizing: border-box;
}

body {
    /*background: url(../img/main-2.jpg) no-repeat;*/
    overflow: hidden;
    background-size: cover;
    color: white;
}

.main {
    z-index: -999999999;
    position: fixed;
    transition: all 1s;
}

.container {
    position: absolute;
    top: 0;
    display: block;
    /*margin: auto;*/
    margin-left: 25%;
    text-align: center;
    /*background-color: #fff;*/
    min-width: 50%;
    max-width: 1200px;
    /*height: 800px;*/
    /*margin-bottom: 80px;*/
}

.name {
    margin-top: 80px;
    font-size: 120px;
    line-height: 144px;
    color: #FFFFFF;
    margin-bottom: 13px;
}

.description {
    font-size: 32px;
    line-height: 39px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 80px;
}

.btn-start {
    background-color: transparent;
    font-size: 42px;
    line-height: 51px;
    color: white;
    border: 3px solid #FFFFFF;
    border-radius: 5px;
    padding: 25px 53px;
    margin-bottom: 16px;
}

.mini-description {
    font-size: 22px;
    line-height: 27px;
}

.footer {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    text-decoration-line: underline;
    margin-top: 150px;
    /*margin-bottom: 200px;*/
}

.choose {
    margin: auto;
    /*display: none;*/
    /*margin-top: 100px;*/
    width: 80%;
    opacity: 0;
}

.choose-your_mood {
    padding-top: 20px;
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 36px;
}

.ganre {
    width: 210px;
    height: 210px;
    border: 3px solid #FFFFFF;
    border-radius: 5px;
    margin-bottom: 25px;
}

.ganre-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.music-name {
    /*background-color: red;*/
    font-size: 24px;
    line-height: 29px;
}

.player-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 21px;
}

.player-nav {
    /*background-color: darkblue;*/
    display: flex;
    align-items: center;
}

.player-func {
    /*background-color: white;*/
    display: flex;
    align-items: center;
}

.line {
    margin-right: 21px;
}

.play {
    margin-right: 29px;
    margin-left: 29px;
}

.fav {
    margin-right: 21px;
    margin-left: 11px;
}

.time-line {
    width: 100%;
    height: 5px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
}

.time-line {
    margin-bottom: 20px;
}